.authorBox {
  background-color: #333f90db;
  padding: 0.3rem 1.5rem;
  border-radius: 6px;
}

.authorImg {
  height: 50px !important;
  width: 50px !important;
}

.frontImg {
  filter: brightness(0.5);
}
