.ButtonContainer {
    max-width: 150px;
    float: right;
    padding: 10px 50px 10px 0px;
}

.textContainer {
    padding: 10px 0px 10px 50px;
}

.WarningContainer {
    background-color: #bfbfbf !important;
}