@media only screen and (max-width: 767px) {
  .readPostBtn {
    display: flex !important;
    justify-content: flex-end !important;
  }
}

.disableHover:hover {
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  transform: scale(1) !important;
}

.thumbnailHover:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  transform: scale(1.01);
}

.thumbnailHover {
  transition: all 0.25s ease-in-out;
}

.frontImg {
  max-height: 630px;
  object-fit: cover;
}

@media only screen and (max-width: 1199px) {
  .frontImg {
    max-height: 500px;
  }
}

@media only screen and (max-width: 991px) {
  .frontImg {
    height: 430px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 767px) {
  .frontImg {
    height: 350px;
    object-fit: cover;
  }
}
